
@{
    ViewData["Title"] = "Búsqueda";
}

<div class="container tutor-list">

    <div class="tutors-filter">
        <h3 class="title">Filtrar resultados por:</h3>

        <div class="col-md-12 filters">
            <h4 class="title">Lugar de las clases</h4>




            <p class="where" id="student_home" data-selected="true"><input type="checkbox" name="lugardeasesoria" value="1">  A domicilio</p>
            <p class="where" id="tutor_home" data-selected="true"><input type="checkbox" name="lugardeasesoria" value="1">  Domicilio del profesor</p>
            <p class="where" id="other_place" data-selected="true"><input type="checkbox" name="lugardeasesoria" value="1">  Lugar público</p>
            <p class="where" id="online" data-selected="false"><input type="checkbox" name="lugardeasesoria" value="1">  Online</p>

            <h4 class="title" style="margin-top: 25px">Disponibilidad</h4>

            <div class="row schedule inverted no-padding no-margin">
                <div class="col-xs-12 no-padding">
                    <table class="w3-table">
                        <tr>
                            <th></th>
                            <th id="morning-title" data-selected="true">Mañanas</th>
                            <th id="afternoon-title" data-selected="true">Tardes</th>
                        </tr>
                        <tr>
                            <td class="title day-title" data-selected="true" data-day="mon" style="max-width: 35px;">L</td>
                            <td class="schedule-period" data-period="morning" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                            <td class="schedule-period" data-period="afternoon" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                        </tr>
                        <tr>
                            <td class="title day-title" data-selected="true" data-day="tue" style="max-width: 35px;">M</td>
                            <td class="schedule-period" data-period="morning" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                            <td class="schedule-period" data-period="afternoon" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                        </tr>
                        <tr>
                            <td class="title day-title" data-selected="true" data-day="wed" style="max-width: 35px;">X</td>
                            <td class="schedule-period" data-period="morning" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                            <td class="schedule-period" data-period="afternoon" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                        </tr>
                        <tr>
                            <td class="title day-title" data-selected="true" data-day="thu" style="max-width: 35px;">J</td>
                            <td class="schedule-period" data-period="morning" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                            <td class="schedule-period" data-period="afternoon" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                        </tr>
                        <tr>
                            <td class="title day-title" data-selected="true" data-day="fri" style="max-width: 35px;">V</td>
                            <td class="schedule-period" data-period="morning" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                            <td class="schedule-period" data-period="afternoon" data-selected="true"><input type="radio" name="transporte" value="1"> </td>
                        </tr>
                        <tr>
                            <td class="title day-title" data-selected="false" data-day="sat" style="max-width: 35px;">S</td>
                            <td class="schedule-period" data-period="morning" data-selected="false"><input type="radio" name="transporte" value="1"> </td>
                            <td class="schedule-period" data-period="afternoon" data-selected="false"><input type="radio" name="transporte" value="1"> </td>
                        </tr>
                        <tr>
                            <td class="title day-title" data-selected="false" data-day="sun" style="max-width: 35px;">D</td>
                            <td class="schedule-period" data-period="morning" data-selected="false"><input type="radio" name="transporte" value="1"> </td>
                            <td class="schedule-period" data-period="afternoon" data-selected="false"><input type="radio" name="transporte" value="1"> </td>
                        </tr>
                        <tr></tr>
                    </table>

                </div>
                
                <div class="row mt-4">
                        <button type="button" class="btn btn-primary">
                            Filtrar
                        </button>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-9 mt-5 col-md-offset-3 no-padding">

        <div class="col-md-12 mt-5 no-padding no-margin tutors" id="tutors-container">


            <h1 class="mt-5">
                Clases particulares:
                <strong>@ViewBag.Curso</strong>
                @if (ViewBag.Lugar != "")
                {
                    <span>en @ViewBag.Lugar</span>
                }
            </h1>



            @{
                var personas = ViewBag.Personas;

                foreach (var i in personas)
                {
                    <a href="" target="_blank">
                        <div class="col-md-12 no-padding no-margin tutor" data-lat="41.4369210" data-lon="2.1806423">
                            <div class="col-md-3 col-lg-2">
                                <img class="avatar" src="~/Images/Busqueda/profe 1.png" alt="@i[0] @i[1] - Profesor particular en  ">


                            </div>

                            <div class="col-md-7 col-lg-8">
                                <div class="data-l">
                                    <h3 class="name">@i[0] @i[1]</h3>


                                    <div class="description" style="min-height: 55px">
                                        @i[5]
                                    </div>

                                    <span class="feature mobile"><input type="image" src="~/Images/Busqueda/camino kilometro.jpg" alt="Submit"><span class="distance">@i[4]</span></span>

                                    <div class="separator"></div>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2 text-right" style="padding-right: 0">
                                <div class="price">
                                    <div class="no-padding no-margin">
                                        <div class="col-xs-12 no-padding price">
                                            <h3 style="margin-top: 20px">Desde</h3>
                                            <h3><strong>S/.@i[7]h</strong></h3>
                                        </div>
                                        <div class="col-xs-12 no-padding text-right" style="padding-top:4px;">
                                            <button type="button" class="btn btn-primary">
                                                Ver perfil
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }


            }




            <div class="col-md-12 text-center" style="margin-bottom: 60px;">

                <p>Hemos encontrado tutores para tus <strong>clases particulares</strong>  de <strong>Cálculo (Ingeniería)</strong>  en Perú, pero para contactarte con ellos no olvides <a asp-action="Registro" asp-controller="Usuario"><strong>Registrarte</strong></a> previamente!</p>


        </div>
        </div>
    </div>


<script src="~/Js/Shared/jquery.min.js"></script>
<script type="text/javascript" src="~/Js/Shared/bootstrap.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyABywB9XDVck3KVTiR620yuULmGQnsFUmY&libraries=places,geometry"></script>
<script type="text/javascript" src="~/Js/Shared/conversion_async.js"></script>

<script>
    (function () {
        $(".subject-search-input").focus(function() {
           $(document).trigger('showModalSubjects',[undefined,undefined]);
        });

        $(".subject-search-input").click(function() {
            $(document).trigger('showModalSubjects',[undefined,undefined]);
        });

        $(".all").click(function () {
            var group_id = $(this).attr("data-group-id");
           $(document).trigger('showModalSubjects',[group_id,undefined]);
        });

        var subject_id = '' || undefined;
        var group_id = '' || undefined;
        var tutor_id = '' || undefined;

        $("#contact-form").submit(function( event ) {
            if(subject_id==undefined){
                event.preventDefault();
                $(document).trigger('showModalSubjects',[group_id,tutor_id]);

                $(document).on('data-attribute-changed', function(event,subject_id_v,group_id) {
                    subject_id = subject_id_v;
                    $("#contact-form").submit();
                });
            }
        });
    })();
</script>

<script type="text/javascript" src="~/Js/Busqueda/575935f2b489265bf2e356ece198364c.min.js"></script>

<script type="text/javascript" src="~/Js/Busqueda/helpcrunch.js"></script>



<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};gapi.load('auth2')"
        onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>

<script>
        (function () {
            $("#navbar-btn-search").hide();
            $(window).scroll(function (event) {
                if(window.scrollY<80){
                    $("#navbar-search").hide();
                    $(".navbar-header").show();
                    $(".navbar-right").show();
                }else{
                    $("#navbar-search").show();
                    $(".navbar-header").hide();
                    $(".navbar-right").hide();
                }

                var filterBottom = $('.tutors-filter').outerHeight();

                var scrollTop     = $(window).scrollTop(),
                    elementOffset = $('.footer').offset().top,
                    distance      = (elementOffset - scrollTop) - 50;

                var diff = distance-filterBottom;
                $(".tutors-filter").css("top", Math.min(0, diff));

            });

            $(document).trigger('execute-geocode-on-inputs');

        })();
</script>